# Data Cleaning

## Data Hepatitis

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data hepatitis.csv')

In [3]:
data.shape

(155, 20)

In [4]:
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
0,die,30,female,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,die,50,male,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,die,78,male,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,die,31,male,NaN,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no

In [5]:
data.tail()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
150,life,46,male,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,die,44,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,die,61,male,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,die,53,female,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,life,43,male,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [6]:
data.describe()

              Age   Bilirubin  Alk Phospat       SGOT     Albumin     Protime
count  155.000000  149.000000   126.000000  151.00000  139.000000   88.000000
mean    41.200000    1.427517   105.325397   85.89404    3.817266   61.852273
std     12.565878    1.212149    51.508109   89.65089    0.651523   22.875244
min      7.000000    0.300000    26.000000   14.00000    2.100000    0.000000
25%     32.000000    0.700000    74.250000   31.50000    3.400000   46.000000
50%     39.000000    1.000000    85.000000   58.00000    4.000000   61.000000
75%     50.000000    1.500000   132.250000  100.50000    4.200000   76.250000
max     78.000000    8.000000   295.000000  648.00000    6.400000  100.000000

In [7]:
data['Sex'].value_counts()

male      139
female     16
Name: Sex, dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
Class             155 non-null object
Age               155 non-null int64
Sex               155 non-null object
Steroid           154 non-null object
Antivirals        155 non-null object
Fatigue           154 non-null object
Malaise           154 non-null object
Anaroxia          154 non-null object
Liver Big         145 non-null object
Liver Firm        144 non-null object
Spleen Pabable    150 non-null object
Spiders           150 non-null object
Ascites           150 non-null object
Varices           150 non-null object
Bilirubin         149 non-null float64
Alk Phospat       126 non-null float64
SGOT              151 non-null float64
Albumin           139 non-null float64
Protime           88 non-null float64
Histology         155 non-null object
dtypes: float64(5), int64(1), object(14)
memory usage: 24.3+ KB

## Imputation Missing Value

In [9]:
data.isnull().sum()

Class              0
Age                0
Sex                0
Steroid            1
Antivirals         0
Fatigue            1
Malaise            1
Anaroxia           1
Liver Big         10
Liver Firm        11
Spleen Pabable     5
Spiders            5
Ascites            5
Varices            5
Bilirubin          6
Alk Phospat       29
SGOT               4
Albumin           16
Protime           67
Histology          0
dtype: int64

In [10]:
data.isnull().sum().sum()

167

In [11]:
data['SGOT'] = data['SGOT'].fillna((data['SGOT'].mean())) 
data['Protime'] = data['Protime'].fillna((data['Protime'].median()))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin          True
Alk Phospat        True
SGOT              False
Albumin            True
Protime           False
Histology         False
dtype: bool

In [12]:
data['Protime']=data['Protime'].fillna(99)
data['Alk Phospat']=data['Alk Phospat'].fillna(111)
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin          True
Alk Phospat       False
SGOT              False
Albumin            True
Protime           False
Histology         False
dtype: bool

In [13]:
data['Spiders'] = data.fillna(data['Spiders'].value_counts().index[0])
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders           False
Ascites            True
Varices            True
Bilirubin          True
Alk Phospat       False
SGOT              False
Albumin            True
Protime           False
Histology         False
dtype: bool

In [14]:
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid           False
Antivirals        False
Fatigue           False
Malaise           False
Anaroxia          False
Liver Big         False
Liver Firm        False
Spleen Pabable    False
Spiders           False
Ascites           False
Varices           False
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin           False
Protime           False
Histology         False
dtype: bool

## Encode Labels

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
data['Type'] = LabelEncoder().fit_transform(data['Class'])
data['Sex'] = LabelEncoder().fit_transform(data['Sex'])
data['Steroid'] = LabelEncoder().fit_transform(data['Steroid'])
data['Anaroxia'] = LabelEncoder().fit_transform(data['Anaroxia'])
data['Liver Big'] = LabelEncoder().fit_transform(data['Liver Big'])
data['Liver Firm'] = LabelEncoder().fit_transform(data['Liver Firm'])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,yes,yes,yes,1,0,1,...,die,yes,yes,1.0,85.0,18.0,4.0,61.0,no,0
1,die,50,1,0,yes,no,yes,1,0,1,...,die,yes,yes,0.9,135.0,42.0,3.5,61.0,no,0
2,die,78,1,1,yes,no,yes,1,1,1,...,die,yes,yes,0.7,96.0,32.0,4.0,61.0,no,0
3,die,31,1,1,no,yes,yes,1,1,1,...,die,yes,yes,0.7,46.0,52.0,4.0,80.0,no,0
4,die,34,1,1,yes,yes,yes,1,1,1,...,die,yes,yes,1.0,111.0,200.0,4.0,61.0,no,0

## Standardize

In [17]:
from sklearn.preprocessing import StandardScaler

In [19]:
data['Age'] = StandardScaler().fit(data[['Age']]).transform(data[['Age']])
data['Bilirubin'] = StandardScaler().fit(data[['Bilirubin']]).transform(data[['Bilirubin']])
data['Alk Phospat'] = StandardScaler().fit(data[['Alk Phospat']]).transform(data[['Alk Phospat']])
data['Albumin'] = StandardScaler().fit(data[['Albumin']]).transform(data[['Albumin']])
data['Protime'] = StandardScaler().fit(data[['Protime']]).transform(data[['Protime']])
data.head

<bound method NDFrame.head of     Class       Age  Sex  Steroid Antivirals Fatigue Malaise  Anaroxia  \
0     die -0.894192    0        0        yes     yes     yes         1
1     die  0.702579    1        0        yes      no     yes         1
2     die  2.938059    1        1        yes      no     yes         1
3     die -0.814353    1        1         no     yes     yes         1
4     die -0.574838    1        1        yes     yes     yes         1
5     die -0.574838    1        1        yes     yes     yes         1
6    life  0.782418    1        0        yes      no     yes         0
7     die -1.453062    1        1        yes     yes     yes         1
8     die -0.175645    1        1        yes      no     yes         1
9     die -0.894192    1        1        yes     yes     yes         1
10    die -0.175645    1        0         no     yes     yes         1
11    die -0.734515    1        1         no      no     yes         1
12    die -0.015968    1        1         no      no     yes         1
13    die -0.894192    1        1        yes      no     yes         1
14    die  0.463064    1        0         no     yes     yes         1
15    die -0.255483    1        0        yes      no      no         0
16    die  1.979996    1        1        yes      no     yes         1
17    die -0.095806    1        0        yes      no     yes         1
18    die -0.255483    1        1        yes     yes     yes         1
19    die -0.255483    1        0         no     yes     yes         1
20    die -1.532900    0        1         no      no     yes         1
21    die -1.133707    1        1        yes      no      no         0
22    die -0.814353    1        1        yes     yes     yes         1
23    die  0.063871    1        1        yes     yes     yes         1
24    die -1.293385    0        0         no     yes     yes         1
25    die -1.133707    1        0        yes      no      no         1
26    die  0.622741    1        0         no      no      no         0
27    die  1.341288    0        1        yes      no     yes         1
28    die  1.580803    1        0        yes      no     yes         1
29    die  0.782418    1        0         no      no      no         1
..    ...       ...  ...      ...        ...     ...     ...       ...
125   die -0.574838    0        1        yes      no      no         0
126   die -1.053869    1        1        yes      no      no         0
127  life  0.702579    1        1        yes      no     yes         1
128   die  1.021933    1        0        yes      no      no         1
129  life  1.261449    1        0        yes      no      no         1
130   die  1.021933    1        1        yes     yes     yes         1
131  life -0.814353    1        0        yes      no      no         0
132   die  0.542902    1        1        yes      no      no         0
133   die  2.459027    1        1         no      no     yes         1
134  life -0.255483    1        0        yes     yes     yes         1
135   die -1.293385    1        1        yes      no     yes         1
136   die  0.782418    1        1        yes     yes     yes         1
137   die -0.255483    1        1        yes     yes     yes         1
138  life  0.463064    1        1        yes      no      no         1
139   die  0.303386    1        1         no     yes     yes         1
140   die -0.415160    1        0        yes      no      no         0
141  life  1.021933    1        0        yes      no      no         1
142   die  0.782418    1        1        yes      no     yes         1
143  life  0.622741    1        0        yes      no      no         1
144  life  0.303386    1        1        yes      no      no         0
145   die -0.814353    1        0        yes      no     yes         1
146  life -0.015968    1        1        yes      no     yes         1
147  life  2.299350    1        0        yes      no      no         0
148   die -1.692577    1        0        yes     yes     yes         1
149   die -0.415160    1        1        yes     yes     yes         1
150  life  0.383225    1        1        yes      no      no         0
151   die  0.223548    1        1        yes      no     yes         1
152   die  1.580803    1        0        yes      no      no         1
153   die  0.942095    0        0        yes      no     yes         1
154  life  0.143709    1        1        yes      no     yes         1

     Liver Big  Liver Firm ...  Spiders Ascites Varices Bilirubin  \
0            0           1 ...      die     yes     yes -0.346128
1            0           1 ...      die     yes     yes -0.430351
2            1           1 ...      die     yes     yes -0.598796
3            1           1 ...      die     yes     yes -0.598796
4            1           1 ...      die     yes     yes -0.346128
5            1           1 ...      die     yes     yes -0.430351
6            1           1 ...     life     yes     yes -0.346128
7            1           1 ...      die     yes     yes -0.346128
8            1           0 ...      die     yes     yes -0.598796
9            1           1 ...      die     yes     yes -0.346128
10           0           0 ...      die     yes     yes -0.093460
11           1           0 ...      die     yes     yes -0.346128
12           1           0 ...      die     yes     yes -0.430351
13           1           0 ...      die     yes     yes  0.664544
14           1           1 ...      die     yes     yes -0.346128
15           1           1 ...      die      no     yes  0.496099
16           1           1 ...      die     yes     yes -0.177683
17           1           0 ...      die     yes     yes -0.683018
18           1           1 ...      die     yes     yes -0.598796
19           0           0 ...      die     yes     yes -0.598796
20           1           1 ...      die     yes     yes -0.430351
21           0           0 ...      die     yes     yes -0.177683
22           1           1 ...      die     yes     yes -0.346128
23           1           1 ...      die     yes     yes -0.430351
24           1           1 ...      die     yes     yes -0.851464
25           1           1 ...      die     yes     yes -0.514573
26           1           0 ...      die     yes     yes -0.683018
27           1           0 ...      die     yes     yes -0.009237
28           0           0 ...      die     yes     yes -0.093460
29           1           1 ...      die     yes     yes -0.346128
..         ...         ... ...      ...     ...     ...       ...
125          0           0 ...      die     yes     yes -0.598796
126          1           1 ...      die      no     yes -0.346128
127          1           0 ...     life      no      no  1.169880
128          1           1 ...      die      no     yes -0.177683
129          1           1 ...     life      no     yes  2.685887
130          1           1 ...      die     yes     yes -0.346128
131          1           1 ...     life     yes     yes  5.549457
132          1           0 ...      die     yes     yes  0.496099
133          1           0 ...      die     yes     yes -0.346128
134          1           0 ...     life     yes     yes -0.851464
135          0           0 ...      die      no      no -0.093460
136          0           0 ...      die     yes     yes -0.514573
137          1           0 ...      die     yes      no  0.159208
138          1           0 ...     life      no      no -0.346128
139          1           1 ...      die     yes     yes -0.093460
140          0           0 ...      die     yes      no  0.243431
141          1           1 ...     life      no     yes  2.096329
142          1           0 ...      die     yes      no -0.346128
143          1           1 ...     life     yes     yes -0.009237
144          1           1 ...     life      no     yes  0.411876
145          1           1 ...      die     yes     yes -0.177683
146          1           0 ...     life     yes      no  2.348997
147          1           1 ...     life     yes     yes  0.243431
148          1           1 ...      die     yes     yes -0.430351
149          1           1 ...      die     yes     yes -0.683018
150          1           1 ...     life      no      no  5.212566
151          1           0 ...      die     yes     yes -0.430351
152          0           0 ...      die     yes     yes -0.514573
153          1           1 ...      die     yes      no  0.074985
154          1           1 ...     life      no     yes -0.177683

     Alk Phospat       SGOT   Albumin   Protime  Histology Type
0      -0.461839   18.00000  0.265479 -0.028225         no    0
1       0.617875   42.00000 -0.544545 -0.028225         no    0
2      -0.224302   32.00000  0.265479 -0.028225         no    0
3      -1.304016   52.00000  0.265479  1.080087         no    0
4       0.099612  200.00000  0.265479 -0.028225         no    0
5      -0.245896   28.00000  0.265479  0.788426         no    0
6       0.099612   85.89404  0.265479 -0.028225         no    1
7       0.099612   85.89404  0.265479 -0.028225         no    0
8       0.099612   48.00000  0.913498 -0.028225         no    0
9       0.099612  120.00000  0.103474 -0.028225         no    0
10     -0.612999   30.00000  0.913498  1.371749         no    0
11     -1.023290  249.00000 -0.220535 -0.436551         no    0
12     -0.548216   60.00000  0.103474 -0.553216         no    0
13     -1.066479  144.00000  1.723521  0.963423         no    0
14      0.099612   60.00000  0.265479 -0.028225         no    0
15     -0.742565   89.00000 -1.516573 -0.903209         no    0
16     -0.094736   53.00000  0.751493 -0.028225         no    0
17     -0.958507  166.00000  0.265479  0.088439         no    0
18     -1.152856   42.00000  0.427483  1.371749        yes    0
19     -0.785753   28.00000  0.589488  0.030107         no    0
20     -1.260827   20.00000  0.589488  0.146771         no    0
21      0.574687   98.00000  0.427483 -1.311535         no    0
22     -0.461839   20.00000  0.265479  2.246733         no    0
23     -1.001696   63.00000  1.399512 -0.844877         no    0
24     -1.325610   18.00000  0.751493  0.496765         no    0
25     -0.245896   46.00000 -0.058531  2.246733         no    0
26     -0.461839   48.00000 -0.220535 -0.028225         no    0
27      1.481646   55.00000 -1.840583 -1.486532         no    0
28     -0.612999   25.00000 -0.058531  2.246733         no    0
29     -0.612999   58.00000  1.237507 -0.553216         no    0
..           ...        ...       ...       ...        ...  ...
125    -0.785753   24.00000  0.427483  2.246733        yes    0
126     0.099612   20.00000  0.265479 -0.028225        yes    0
127     1.049761   75.00000 -2.326597 -1.719861        yes    1
128    -0.461839   92.00000 -1.192564  0.263436        yes    0
129    -0.526622   55.00000 -0.868554 -1.836525        yes    1
130    -0.461839   30.00000  1.075502 -3.586493        yes    0
131     0.099612  101.00000 -2.650606 -0.028225        yes    1
132     1.114544  278.00000 -0.058531 -0.028225        yes    0
133     0.185989   52.00000 -0.706550 -0.669880        yes    0
134     2.950057   49.00000 -0.058531  1.663410        yes    1
135     1.611212  181.00000  1.075502 -0.261554        yes    0
136     0.099612   33.00000  1.075502 -0.028225        yes    0
137     0.509904  140.00000 -0.544545 -0.319887        yes    0
138     1.287298   30.00000 -2.002587 -1.778193        yes    1
139    -0.461839   44.00000  0.589488  1.371749        yes    0
140     4.072960   60.00000 -1.840583 -0.028225        yes    0
141     0.293961   28.00000 -0.544545 -1.078206        yes    1
142     0.099612   20.00000 -1.354568  0.088439        yes    0
143    -0.461839   70.00000 -0.544545 -1.544864        yes    1
144     0.099612  114.00000 -2.326597 -0.028225        yes    1
145    -0.677782  173.00000  0.589488 -0.436551        yes    0
146    -0.893725  120.00000 -0.706550 -0.028225        yes    1
147     0.056424  528.00000 -1.678578 -1.544864        yes    1
148    -0.375462  152.00000  0.265479 -0.028225        yes    0
149     0.293961   30.00000  0.265479 -0.028225        yes    0
150     0.099612  242.00000 -0.868554 -0.669880        yes    1
151     0.423527  142.00000  0.751493 -0.028225        yes    0
152    -0.677782   20.00000  0.427483 -0.028225        yes    0
153    -0.548216   19.00000  0.427483 -0.786545        yes    0
154    -0.137925   19.00000 -1.192564 -1.136538        yes    1

[155 rows x 21 columns]>

## Normalize

In [20]:
from sklearn.preprocessing import Normalizer

In [21]:
data['Age'] = Normalizer().fit(data[['Age']]).transform(data[['Age']])
data['Bilirubin'] = Normalizer().fit(data[['Bilirubin']]).transform(data[['Bilirubin']])
data['Alk Phospat'] = Normalizer().fit(data[['Alk Phospat']]).transform(data[['Alk Phospat']])
data['Albumin'] = Normalizer().fit(data[['Albumin']]).transform(data[['Albumin']])
data['Protime'] = Normalizer().fit(data[['Protime']]).transform(data[['Protime']])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,-1.0,0,0,yes,yes,yes,1,0,1,...,die,yes,yes,-1.0,-1.0,18.0,1.0,-1.0,no,0
1,die,1.0,1,0,yes,no,yes,1,0,1,...,die,yes,yes,-1.0,1.0,42.0,-1.0,-1.0,no,0
2,die,1.0,1,1,yes,no,yes,1,1,1,...,die,yes,yes,-1.0,-1.0,32.0,1.0,-1.0,no,0
3,die,-1.0,1,1,no,yes,yes,1,1,1,...,die,yes,yes,-1.0,-1.0,52.0,1.0,1.0,no,0
4,die,-1.0,1,1,yes,yes,yes,1,1,1,...,die,yes,yes,-1.0,1.0,200.0,1.0,-1.0,no,0